


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link rel="stylesheet" href="../public/style.css">

<ul id="header">
    <li>Home</li>
    <ul>

        <li>1</li>
        <li>2</li>
    </ul>
</ul>