

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    main page
    <ul>
        <li><%= nickname %></li>
        <img src="<%= imgpath %>" alt="">
    </ul>
    <button><a href="/mypage?uid=<%= uid %>">mypage</a></button>
</body>
</html>