



* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    /* color: black; */
    list-style: none;
}


form {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid hsl(0, 0%, 61%);
    /* color: white; */

}
#header ul {

    align-items: center;
    width: 200px;
    display: flex;
    justify-content: space-around;

    
}

#header ul li {
    margin-right: 30px;
}

#header img {
    width: 35px;
    height: 35px;
    border-radius: 35px;
}

.container {
    width: 300px;
    height: 70px;
    border: 1px solid;
    border-bottom: none;
}

#bodywrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bodywrap 

.material-symbols-outlined {
    border: 1px solid;
    width: 300px;
    border-top: none;
    user-select: none;
    cursor: pointer;
}

#titlebar {
    width: 150px;
    display: flex;
    justify-content: space-around;
}

.active {
    background-color: red;
}