



* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    color: black;
}


form {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}